<!-- overall container -->
<div class="container-fluid co-overall" *ngFor="let plant of plants">

  <!-- container for plant cards -->
  <div class="container-fluid">
    <!-- overall row for each plant -->
    <div class="row">
      <!-- column for picture-->
      <div class="col">
        <img src="{{plant.picture}}">
      </div>
      <!-- column for data -->
      <div class="col-9">
        <h2 class="plants-h2">{{plant.name}}</h2>

        <!-- row for "Flüssigkeit" -->
        <div class="row pt-3">
          <!-- column for description -->
          <div class="col">
            <h6 class="plants-h6 ">Flüssigkeit:</h6>
          </div>
          <!-- column for progressbar -->
          <div class="col-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{plant.wasserstand}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{plant.wasserstand}}%</div>
            </div>
          </div>
        </div>

        <!-- row for "Gegossen am:" -->
        <div class="row pt-3">
          <div class="col">
            <h6 class="plants-h6 ">Gegossen am:</h6>
          </div>
          <div class="col-8">
            <h6 class="plants-h6">{{plant.gegossen_am}}</h6>
          </div>
        </div>

        <!-- row for "Gießen bis:" -->
        <div class="row pt-3">
          <div class="col">
            <h6 class="plants-h6 ">Gießen bis:</h6>
          </div>
          <div class="col-8">
            <h6 class="plants-h6" *ngIf="plant.giessen_in_stunden == '0' && plant.giessen_in_tagen == '0'">Zeit wird berechnet</h6>
            <h6 class="plants-h6" *ngIf="plant.giessen_in_stunden == null || plant.giessen_in_tagen == null">Zeit wird berechnet</h6>
            <h6 class="plants-h6" *ngIf="(plant.giessen_in_stunden != '0' || plant.giessen_in_tagen != '0') && plant.giessen_in_stunden != null && plant.giessen_in_tagen != null ">{{plant.giessen_in_tagen + ' Tage und ' + plant.giessen_in_stunden + ' Stunden'}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



